.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  > div {
    display: flex;
    flex-direction: row;
  }
  .leftSection {
    margin-right: 300px;
  }
}

.nameTag {
  margin: 0 15px;
  color: #4d4d4d;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
